@import "variable.scss";
@import "mixins.scss";
/* Reset some default styles to ensure consistency across browsers */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  @include rem(16px);
  line-height: normal;
  color: $text-color;
}
/* Reset some default styles to ensure consistency across browsers */












// .wrapper {
//   max-width: 1000px;
//   margin: 0px auto;
//   overflow: hidden;
//   @media screen and (min-width: 1920px) {
//     max-width: 100% !important;
//     padding-left: 15px !important;
//     padding-right: 15px !important;
//   }
//   @media screen and (max-width: 1200px) {
//     padding-left: 25px !important;
//     padding-right: 25px !important;
//   }
//   @media screen and (min-width: 1200px) {
//     margin-left: 340px;
//     margin-right: 60px;
//     &.search-result-wrap {
//       margin-left: 168px !important;
//     }
//   }
// }

// .main-content {
//   background: linear-gradient(180deg, #ebf0f3 24.26%, #ffffff 100%);
// }
