@import "variable.scss";
@import "mixins.scss";
/* Reset some default styles to ensure consistency across browsers */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  @include rem(16px);
  line-height: normal;
  color: $text-color;
}
/* Reset some default styles to ensure consistency across browsers */





